<h1>Log In</h1>

<strong><%= flash[:message] if flash[:message] %></strong><br>

<%= form_tag '/login', method: :post do |f| %>
 <div>
  <%= label_tag :username%><br>
  <%= text_field_tag :username%><br>
 </div>
 <div> 
  <%= label_tag :password%><br>
  <%= password_field_tag :password%><br>
 </div>
  <%= submit_tag 'login' %>
<%end%>