<h1>Log In</h1>

<%= flash[:message] if flash[:message] %>

<%= form_with url: login_path do |f| %>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit 'login' %>
<%end%>