<%= render partial: "layouts/errors", locals: {object: @task} %>

<h1><%= @task.name %></h1>
<%= @task.comment %>

  <% comment_status = @task.comment.nil? ? "Add Comment" : "Update Comment"%>
   <%= form_for([@task, @comment]) do |f| %>
   <%= f.label :content %>
   <%= f.text_area :conent %>
   <%= f.submit comment_status %>
   <% end %>