<h1>New Task</h1>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@user, @task]) do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name, placeholder: "Required Field" %>
 Category: <%= f.collection_select :category_attributes, Category.all, :name, :name %>

  Group: <%= f.collection_select :group_attributes, Group.all, :name, :name %>
  <%= f.submit %>
<% end %>