<h1>New Task</h1>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@user, @task]) do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name, placeholder: "Required Field" %>
 <%= f.label :category_name, "Select or Add a Category"  %>
  <em><%= f.text_field :category_name, list: "categories_autocomplete", placeholder: "Required Field" %></em>
   <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value=<%= category.name %>>
      <% end %>
   </datalist>
  <%= f.submit %>
<% end %>