<h1>New Task</h1>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@task) do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name, placeholder: "Required Field" %>
 <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
 <%= f.fields_for :category do |c|%>
    <%= c.text_field :name%>
  <% end %>
  Group: <%= f.collection_select :group_id, Group.all, :id, :name %>
  <%= f.submit %>
<% end %>