<% @groups.each do |group| %>
<div><% if @user.groups.include?(group)%>
          <%= group.name %>
          <% else %>
      
      <%= form_for group do |f| %>
        <%= f.label :name, group.name %>
        <%= f.check_box :name %>
        <%= f.submit "Join Group" %>
      <% end%>
<ul>
      <% group.tasks.each do |task| %>
      <%= task.name  %>
</ul>
      <% end %>
      </div>
    <% end %>
    <% end %>
    