<% @groups.each do |group| %>
<div class="group-box <%= group.id %> col-xs-10 col-xs-offset-1 color-<%= (1..10).to_a.sample %>">
<p><h1>Group Name: </h1><h3>
<% if group.users.include?(current_user) %>
<%= link_to group.name, group_path(group) %></h3></p>
<% else%>
      <%= group.name %>
<% end %>
<ol>
<% group.users.uniq.each do |user| %>
<li><%= user.username %></li>
<% end%>
</ol>
      <% if group.users.include?(current_user)%>
      <%= link_to "Leave Group", group_path(group), method: :patch, :data => {:confirm => 'Are you sure?'} %>
      <%= link_to "Add a task", new_group_task_path(group) %></div> 
      <% else %>
      <%= link_to "Join Group", group_path(group), method: :patch %>
      <% end%>
      
<% end %>
<div>
<%= link_to "Create a Group", new_group_path %>
</div>