<h1>Sign Up</h1>
  <% if !@user.errors.empty? %>
  <%= @user.errors.each do |error| %>
  <%=   error %><br>
  <%  end %>
  <%  end %>

<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </br>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </br>
  <%= f.label :admin %>
  <%= f.check_box :admin %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </br>
    <% if @groups %>
  <%= f.fields_for(@groups) do |build| %>
  <%= build.label :name, "Join Group?" %>
  <%= build.collection_check_boxes :group_name, Group.all, :name, :name %><br>
  <%= build.submit %>
<% end %>
<% end %>
  <%= f.submit %>
<% end %>