<h1>Welcome <%= @user.username %>!</h1>
<% if @user.tasks.empty? %>
<p>You don't have any Tasks.</p>
<% end %>
<br>
<p>
<h3><b>Your Groups:</b></h3>
<ol>
<% @user.groups.uniq.each do |group| %>
<li><%= link_to group.name, group_path(group) %></li>
<% end %>
</ol>
<p>
<h3><b>Your Individual Tasks:</b></h3>
<p>
<% @user.categories.uniq.each do |category| %>
<h2>Category: <%= category.name %></h2><br>
<ol> 
<% category.tasks.each do |task| %>
<% if @user.tasks.include?(task)%>

<% com = task.comment.nil? ? "Add Comment" : "Update Comment" %>
 <% if task.complete == true %>
          <del><p><em><li><%= task.name  %></li></em></del><em> (Task Completed!)</em><br>
               <% if !task.comment.nil? %>
               <b>Comment:</b> 
               <% end %>
               <em><%= task.comment %></em></p>
          <%= link_to com, comment_user_tasks_path(@user, task) %>
          <% else %>
           <p><em><li><%= task.name  %></li></em><br>
               <% if !task.comment.nil? %>
                    <b>Comment:</b> 
               <% end %>
                <em><%= task.comment %></em></p>          
         <%= link_to com, comment_user_tasks_path(@user, task) %>
         <%= link_to "Completed?", complete_user_task_path(@user, task, "true") %>
         <br>
        <% end%>
        <hr>
  <% end %>
  <br>
<% end %>
</ol>
<% end %>
</div>
<%= link_to "Create a Group", new_group_path %>
<%= link_to "Join or Leave a Group", groups_path %>
<%= link_to "Add a task", new_user_task_path(@user) %>