<% if flash[:message] != "" %>
<%= flash[:message] %>
<% end %>

<h1>Welcome <%= @user.username %></h1>

<% @categories.each do |category| %>
 <div class="group-box <%= category.id %> col-xs-10 col-xs-offset-1 color-<%= (1..10).to_a.sample %>">
 <p><h2>Category Name:</h2><%= category.name %>:</p>
 
  <ol> 
    <% category.tasks.each do |task| %>
      <h3>Tasks:<% if @user.tasks.include?(task)%></h3>
          <p><em><li><%= task.name  %></li></em>
          <b>Comment:</b> <em><%= task.comment %></em></p>
         <%= link_to "Add Comment", comment_user_tasks_path(@user, task) %>
         <%= link_to "Completed?" %>
       <% end%>
<% end %>
   
    </ol>
<% end %>

<h1>Groups: </h1>
<% @user.groups.each do |group| %>
  <%=link_to group.name, user_group_path(@user, group) %><br>
  <% end %>
</div>
<%= link_to "View All Groups", groups_path %>
<%= link_to "Create a Group", new_user_group_path(@user) %>
<%= link_to "Join or Leave a Group", edit_user_path(@user) %>
<%= link_to "Add a task", new_user_task_path(@user) %>
<%= link_to 'logout', logout_path, :confirm => "Are you sure?", method: 'delete'  %>