<h1>Welcome <%= @user.username %>!</h1>
<% if @user.tasks.empty? %>
<p>You don't have any Tasks.</p>
<% end %>

<% @user.tasks.sort_by { |task| task.category.id } %>
<% arr = [] %>
<ol> 
<% @user.tasks.each do |task| %>
<% if !arr.include?(task.category_id) %>
<h2>Category: <%= task.category.name %><h2>
<%= arr << task.category_id %>
<% end %>

 <% if task.complete == true %>
          <del><p><em><li><%= task.name  %></li></em></del><em> (Task Completed!)</em>- <i><%= link_to task.group.name, user_group_path(@user, task.group) %></i>
               <b>Comment:</b> <em><%= task.comment %></em></p>
          <%= link_to "Add Comment", comment_user_tasks_path(@user, task) %>
          <% else %>
           <p><em><li><%= task.name  %> - <i><%= link_to task.group.name, user_group_path(@user, task.group) %></i> </li></em>
          <b>Comment:</b> <em><%= task.comment %></em></p>
         <%= link_to "Add Comment", comment_user_tasks_path(@user, task) %>
         <%= link_to "Completed?", complete_user_task_path(@user, task, "true") %>
        <% end%>
        <br>
  </ol>
<% end %>
</div>
<%= link_to "Create a Group", new_user_group_path(@user) %>
<%= link_to "Join or Leave a Group", groups_path %>
<%= link_to "Add a task", new_user_task_path(@user) %>
<%= link_to 'logout', logout_path, :data => {:confirm => "Are you sure?", method: 'delete'}  %>