<h1>Welcome <%= @user.username %></h1>

          <h1>All Tasks</h1>

<%= @category.each do |category| %>
 <div> category.name 
<ul> 
<% @category.tasks.each do |task| %>
<li><%= task.name %></li><br>
</div>
<% end %>
</ul>
<% end %>
<% end %>

<%= link_to "Add a task", new_user_task_path(@user) %>

<%= link_to 'logout', logout_path, :confirm => "Are you sure?", method: 'delete'  %>