<h1><%= @task.name %></h1>
<%= render partial: "layouts/errors", locals: {object: @task} %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@group, @task], url: comment_group_task_path(@group, @task)) do |f| %>
  <% sub = @task.comment.nil? ? "Add Comment" : "Update Comment"%>
    <div><%= f.label :comment %>
   <%= f.text_area :comment %></div>
  <%= f.submit sub %>
<% end %>
 