<h1>New Goal</h1><br>
<%= render partial: "layouts/errors", locals: {object: @goal} %>
<%= form_for([@var, @goal]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
  <% end %>
  