<% require 'pry' %>
<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
        <% if !current_user %>
          <a class="navbar-brand" href="<%= signup_path %>"/>Sign Up</a>
          <%= link_to "Log in", login_path, class:"navbar-brand" %>
        <% end %>

        <% if current_user %>
      
          <%= link_to "#{current_user.username}'s profile", user_path(current_user), class:"navbar-brand"%>
          <%= link_to "Log Out", logout_path, class:"navbar-brand",method:'delete' %>
        <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
    <div><% if flash[:message] %>
      <strong><%= flash[:message] %></strong>
      <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
